<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Nova Ementa Digital</title>
        <link rel="stylesheet" href="../static/css/base.css" />
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <header>
            <p>Nova Ementa digital</p>
        </header>
        <main>
            <div class="table">
                <div class="column checkbox">
                    <div class="cell header">
                        <input id="all-checkbox" type="checkbox" />
                    </div>
                </div>
                <div class="column name">
                    <div class="cell header">
                        <p>NOME</p>
                    </div>
                </div>
                <div class="column category">
                    <div class="cell header">
                        <p>CATEGORIA</p>
                    </div>
                </div>
                <div class="column price">
                    <div class="cell header">
                        <p>PREÇO</p>
                    </div>
                </div>
                <div class="column action">
                    <div class="cell header">
                        <p>AÇÃO</p>
                        <button id="btn-delete-selected">
                            <img src="../static/img/delete-icon.webp" />
                        </button>
                    </div>
                </div>
            </div>
        </main>
        <div id="overlay" class="overlay">
            <dialog id="dialog-modal">
                <div id="dialog-modal-container" class="dialog-container">
                    <div class="head delete">
                        <p id="delete-title">
                        </p>
                    </div>
                    <div class="head search">
                        <p id="search-message"></p>
                        <input
                            type="text"
                            placeholder="Buscar Produto..."
                            class="search-input" />
                        <div class="tail-search">
                            <label for="order-by">Ordenar por:</label>
                            <select id="order-by" class="search-select">
                                <option>Mais antigo</option>
                                <option>Mais recente</option>
                                <option>Nome (A-Z)</option>
                                <option>Nome (Z-A)</option>
                                <option>Preço (maior)</option>
                                <option>Preço (menor)</option>
                                <option>Categoria (A-Z)</option>
                                <option>Categoria (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="head add-product">
                        <h2 id="add-product-title"> Adicionar Produto </h2>
                        <label> Nome: </label>
                        <input id="input-add-product" class="nome-add-product"
                            type='text' placeholder="Ex.: Coxinha">
                        <div class="category-add-product">
                            <label>Categoria:</label> <select
                                id="select-category-product" class="category-product">
                                <option value="">SELECIONE</option>
                                <option value="Salgado">Salgado</option>
                                <option value="Bebida">Bebida</option>
                                <option value="Refeição">Refeição</option>
                            </select>
                        </div>
                        <div class="preco-add-product">
                            <label>Preço:</label><input id="price-add-product"
                                class="preco-product" placeholder="R$  0,00">
                        </div>
                    </div>
                    <div id="loading" class="head loading red">
                        <div class="loading-container">
                            <div class="loader"></div>
                            <p id="loading-message">...</p>
                        </div>
                    </div>
                    <div id="dialog-tail" class="tail">
                        <button id="btn-red"
                            class="btn-red-dialog"></button>
                        <button id="btn-green"
                            class="btn-green-dialog"></button>
                    </div>
                </div>
            </dialog>
        </div>

        <div class="fixed-actions-container">
            <button id="btn-search" class="fixed-lupa-button">🔍</button>
            <button id="btn-add-product" class="fixed-add-button">+</button>
        </div>
        <button id="button-alldown"><img src="../static/img/seta.webp"></button>
        <script type="module">
        </script>
        <script src="../static/js/index.js" type="module"></script>
        <script src="../static/js/table.js" type="module"></script>
        <script src="../static/js/app.js" type="module"></script>
    </body>
</html>
