@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Corben:wght@400;700&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: clamp(14px, 0.361vw + 9.07px, 16px);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 1rem;
    font-size: 4rem;
    font-weight: 300;
    color: white;
    display: flex;
    background-color: #3F3D48;
    font-family: "Comfortaa";
}

header p {
    display: flex;
    justify-content: center;
    flex: 1;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: #272727;
    font-family: "Cousine";
}

dialog {
    justify-self: center;
    border: none;
    background: transparent;
}

dialog:focus {
    outline: none;
}

.overlay {
    position: fixed;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background: none;
    border: none;
    transition:
        opacity ease-in-out .2s;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}
