@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Corben:wght@400;700&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */


:root {
    --red-color: #AC0000;
    --red-color-hover: #800000;
    --red-color-active: #990000;
}

.table {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #4D4D53;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    box-sizing: inherit;
}

.column.checkbox {
    display: flex;
    flex: 0;
    height: auto;
    min-height: auto;
}

.column.action {
    width: max-content;
    display: flex;
    flex: 0;
}

.cell {
    width: 100%;
    padding: 0.5rem 0.5rem;
    display: flex;
    flex: 1;
    justify-content: center;
    box-sizing: inherit;
    font-size: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    border: 1px solid black;
    align-items: center;
}

.cell.header {
    display: flex;
    flex: 1;
    background-color: #2D2D35;
    align-items: center;
    height: 2rem;
    font-size: 2rem;
}

.column.action .cell {
    padding: 0 1rem;
}

.column.action .cell.header p {
    position: absolute;
    opacity: 1;
}

.column.action .cell.header #btn-delete-selected {
    opacity: 0;
    pointer-events: none;
    transition: opacity ease .2s;
}

.column.action .cell.header.active p {
    opacity: 0;
    pointer-events: none;
    transition: opacity ease .2s;
}

.column.action .cell.header.active #btn-delete-selected {
    opacity: 1;
    pointer-events: all;
}

.column.checkbox input {
    height: 1.2rem;
    width: 1.2rem;
}

.column.checkbox .cell.header input {
    height: 1.8rem;
    width: 1.8rem;
}

#btn-delete-selected {
    background-color: var(--red-color);
    height: max-content;
    width: max-content;
    padding: 0.2rem 2rem;
    border: none;
    border-radius: 5rem;
    margin: 1rem;
    opacity: 1;
    transition:
        transform ease-in-out .2s,
        background-color ease-in-out .1s;
}

#btn-delete-selected img {
    height: 1.4rem;
    width: auto;
}

#btn-delete-selected:hover {
    transform: scale(0.9);
    background-color: var(--red-color-hover);
}

#btn-delete-selected:active {
    background-color: var(--red-color-active);
}

dialog {
    z-index: 1000;
}

/* Botão centralizado que expande para os dois lados */
.ellipsis-action {
    top: 50%;
    left: 50%;
    width: 30%;
    height: 70%;
    background-color: rgba(62, 62, 67, 0.8);
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden;
    max-width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;

    transition: width 0.25s ease, backgroun-color ease 0.25s;
}

.ellipsis-action .label {
    position: absolute;
    font-family: "Interpunct";
    opacity: 1;
    transition: opacity 0.2s ease, transform 0.25s ease;
    font-size: 1rem;
    font-weight: bold;
    justify-self: center;
    letter-spacing: 2px;
    transform: scale(1);
}

.ellipsis-action .actions {
    display: flex;
    gap: 1rem;
    padding: 0 10px;
    width: 100%;
    justify-content: space-around;
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.2s ease, transform 0.25s ease;
}

.ellipsis-action .actions .opt {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    height: max-content;
    width: max-content;
}

.ellipsis-action .actions .opt img {
    width: auto;
    height: 1.3rem;
}

.ellipsis-action:hover {
    width: 80%;
    background-color: rgba(100%, 100%, 100%, 0.2);
}

.ellipsis-action:hover .label {
    display: none;
    opacity: 0;
    transform: scale(0.7);
}

.ellipsis-action:hover .actions {
    opacity: 1;
    transform: scale(1);
}

/* MODAIS */
.dialog-container {
    opacity: 0;
    font-family: "Corbel";
    font-size: 2rem;
    height: max-content;
    width: max-content;
    background-color: #3A3A3F;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.8);
    color: white;
    padding: 3rem 5rem;
    border-radius: 1rem;
    transition: opacity ease-in-out .1s;
    z-index: 1001;
}

.dialog-container .head {
    display: none;
    font-family: inherit;
}

#delete-title {
    font-family: "Comfortaa";
}

/*
* ========================
* == ADD PRODUCT DIALOG ==
* ========================
*/

#add-product-title {
    font-family: "Cousine";
}

.dialog-container .head.add-product {
    display: none;
    flex-direction: column;
    gap: 1rem;
}

.dialog-container .head.add-product input {
    background-color: #D3D3D3;
    padding: 0.4rem;
    border-radius: 0.5rem;
    color: black;
    border: none;
}

.dialog-container .category-add-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dialog-container .category-product {
    background-color: #D3D3D3;
    padding-left: 0.5rem;
    border-radius: 0.5rem;
    flex: 1;
    margin-left: 1rem;
}

.dialog-container .preco-add-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dialog-container .preco-product {
    background-color: #D3D3D3;
    padding-left: 0.5rem;
    border-radius: 0.5rem;
    flex: 1;
    margin-left: 4.2rem;
}

/*
* ==================
* == TAIL DIALOG ==
* =================
*/

.dialog-container .tail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;

}

.dialog-container .tail button {
    padding: 0.7rem 3rem;
    border-radius: 1rem;
    width: max-content;
    border: none;
}

.dialog-container .btn-red-dialog {
    background-color: var(--red-color);
    color: white;

}

.dialog-container .btn-green-dialog {
    background-color: #00AC4D;
    color: white;
}

/*
* ===================
* == SEARCH DIALOG ==
* ===================
*/

.dialog-container .head.search {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dialog-container .search-input {
    width: 30rem;
    padding: 1rem;
    background-color: #D3D3D3;
    border-radius: 1rem;
    border: none;
}

.dialog-container .tail-search {
    display: flex;
    justify-content: center;
}

.dialog-container .tail-search label {
    font-size: 1.5rem;
}

.dialog-container .search-select {
    background-color: #D3D3D3;
    padding-left: 0.5rem;
    border-radius: 1rem;
    flex: 1;
    margin-left: 4.2rem;
    border: none;
}

/*
* ===================
* == ACTIONS CELLS ==
* ===================
*/

.wrapper-action {
    display: flex;
    justify-content: center;
    /* garante expansão para os dois lados */
    width: 40px;
    /* tamanho inicial para mostrar apenas "..." */
    overflow: hidden;
    transition: width .25s ease;
    /* animação da expansão */
    cursor: pointer;
    border: 1px solid #aaa;
    border-radius: 6px;
    padding: 4px 6px;
}

.wrapper-action .inner-actions {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
}

.inner-actions .label {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

/* Oculta os botões inicialmente */
.inner-actions .btn {
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease;
}

/* Efeito no hover */
.wrapper:hover {
    width: 200px;
    /* largura expandida */
}

.wrapper-action:hover .btn {
    opacity: 1;
    pointer-events: auto;
}

.wrapper-action .inner-actions img {
    height: 1rem;
    width: 1rem;
}

.wrapper-action .inner-actions button {
    background: transparent;
    border: none;
    cursor: pointer;
}

/*
* ====================
* == ALLDOWN BUTTON ==
* ====================
*/

#button-alldown {
    display: none;
    position: fixed;
    height: max-content;
    width: max-content;
    border-radius: 50%;
    top: 80%;
    color: white;
    border: none;
    right: 50%;
    transform: translateX(50%);
    opacity: 0.5;
    transition:
        opacity ease .2s,
        background ease .2s;
    background: transparent;
}

#button-alldown img {
    height: 2rem;
    width: 2rem;
    margin: 1rem;
    filter: invert(1);
}

#button-alldown:hover {
    opacity: 1;
    background-color: #3D5AFE;
}

/*
* ===================
* == FIXED ACTIONS ==
* ===================
*/

.fixed-actions-container {
    position: fixed;
    bottom: 30px;
    right: 0px;
    display: flex;
    /* Para alinhar a lupa e o botão + */
    flex-direction: column;
    /* Coloca um em cima do outro */
    align-items: center;
    gap: 15px;
    /* Espaçamento entre os botões */
    z-index: 90;
    /* Abaixo do modal (999), mas acima de todo o resto */
}

.fixed-lupa-button, .fixed-add-button {
    height: 55px;
    width: 55px;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;

    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-lupa-button {
    background-color: #3A3A3F;
    color: white;
}

.fixed-add-button {
    background-color: #2ECC71;
    color: white;
    font-size: 2rem;
}

/*
* ====================
* == LOADING DIALOG ==
* ====================
*/

.head.loading .loading-container {
    display: flex;
    width: max-content;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
}

#loading-message {
    font-family: "Cousine";
    font-size: 2rem;
}

.loader {
    width: calc(100px - 24px);
    height: 50px;
    position: relative;
    animation: flippx 2s infinite linear;
    transition: background-color ease .5s;
}

.loader:before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFF;
    transform-origin: -24px 50%;
    animation: spin 1s infinite linear;
}

.loader:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.loader.red:before {
    background-color: #AC0000;
}

.loader.red:after {
    background-color: #AC0000;
}
.loader.green:before {
    background-color: #00AC4D;
}

.loader.green:after {
    background-color: #00AC4D;
}

@keyframes flippx {
    0%, 49% {
        transform: scaleX(1);
    }

    50%, 100% {
        transform: scaleX(-1);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
