
:root {
    --red-color: #AC0000;
    --red-color-hover: #800000;
    --red-color-active: #990000;
}

.table {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #4D4D53;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    box-sizing: inherit;
}

.column.checkbox {
    display: flex;
    flex: 0;
    height: auto;
    min-height: auto;
}

.column.action {
    width: max-content;
    display: flex;
    flex: 0;
}

.cell {
    width: 100%;
    padding: 0.5rem 0.5rem;
    display: flex;
    flex: 1 ;
    justify-content: center;
    box-sizing: inherit;
    font-size: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    border: 1px solid black;
    align-items: center;
}

.cell.header {
    display: flex;
    flex: 1;
    background-color: #2D2D35;
    align-items: center;
    height: 2rem;
    font-size: 2rem;
}

.column.action .cell {
    padding: 0 1rem;
}

.column.action .cell.header p {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.all-checkbox {
    background-color: #D9D9D9;
    border-radius: 0.3rem;
    height: 2rem;
    width: 2rem;
}

.all-checkbox input {
    height: 2rem;
    width: 2rem;
}

#btn-delete-selected {
    background-color: var(--red-color);
    width: 8rem;
    padding: 0.3rem 0;
    border: none;
    border-radius: 5rem;
    margin: 1rem;
    opacity: 1;
    transition:
        transform ease-in-out .2s,
        background-color ease-in-out .1s;
}
#btn-delete-selected img {
    height: 1.5rem;
    width: auto;
}

#btn-delete-selected:hover {
    transform: scale(0.9);
    background-color: var(--red-color-hover);
}

#btn-delete-selected:active {
    background-color: var(--red-color-active);
}

.dialog-container {
    opacity: 0;
    font-family: "Corbel";
    font-size: 2rem;
    height: max-content;
    width: max-content;
    background-color: #3A3A3F;
    color: white;
    padding: 3rem 5rem;
    border-radius: 1rem;
    transition: opacity ease-in-out .2s;
}

.dialog-container .head {
    display: none;
}

.dialog-container .head.search {
    display: none; /* flex */
}

.dialog-container .head.add-product {
    
}

.fixed-actions-container {
    position: fixed;
    bottom: 30px;
    right: 0px;
    display: flex; /* Para alinhar a lupa e o botão + */
    flex-direction: column; /* Coloca um em cima do outro */
    align-items: center;
    gap: 15px; /* Espaçamento entre os botões */
    z-index: 90; /* Abaixo do modal (999), mas acima de todo o resto */
}

.fixed-lupa-button, .fixed-add-button {
    height: 55px;
    width: 55px;
    border-bottom-left-radius: 50%; /* Círculo */
    border-top-left-radius: 50%; /* Círculo */

    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-lupa-button {
    background-color: #3A3A3F;
    color: white;
}

.fixed-add-button {
    background-color: #2ECC71;
    color: white;
    font-size: 2rem;
}